section:first-of-type {
    /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(87,87,93,1) 100%); */
    
}


section:not(:first-of-type) {
    min-height: 100vh;
    border-top: none;
}

section:nth-of-type(2) {
    background: #14181b;
}

section:nth-of-type(3) {
    background: #121618;
}

section:nth-of-type(4) {
    background: #0d1012;
}

section:nth-of-type(5) {
    background: #090c0d;
}
